ngx-editor-js2-mermaidjs.cdk-drag-preview {
  .CodeMirror-sizer {
    margin-left: 29px !important;
  }

  .CodeMirror-lines {
    padding-bottom: 0px !important;
    padding-left: 5px !important;
    padding-right: 3px !important;
    padding-top: 4px !important;
  }

  mermaidjs-config {
    /* General container padding/border */
    padding: 20px !important;
    border: none !important;

    /* Typography for headers and labels */
    h2 {
      margin-block-start: 0.83em !important;
      margin-block-end: 0.83em !important;
    }

    /* Style buttons */
    [mat-flat-button] {
      padding: 0 var(--mat-button-filled-horizontal-padding, 24px) !important;
    }
    .action-group {
      margin-top: 20px !important;
    }
  }
  .node rect,
  .node circle,
  .node ellipse,
  .node polygon,
  .node path {
    fill: #ececff;
    stroke: #9370db;
    stroke-width: 1px;
  }

  .label {
    color: #000;
    font-family: "trebuchet ms", verdana, arial, sans-serif;
  }

  .edgeLabel {
    display: block;
    background-color: rgba(232, 232, 232, 0.8) !important;
  }

  .edgePaths path {
    stroke: #9370db;
    stroke-width: 1px;
    fill: none;
  }
}
