ngx-editor-js2-blockquotes.cdk-drag-preview {
  & *:not(toolbar, ul) {
    margin: 0 !important;
  }
  blockquote {
    padding: 5px 0px 5px 1em !important;
    ul {
      margin: 1em 0 !important;
      padding-left: 1em !important;
    }
  }
}